<html>
  <head>
    <link rel="stylesheet" href="/static/stylesheets/css/template.css">
    <title>Welcome to GO-vatar world</title>
  </head>
  <body>
    <div align='center'>
      <table>
        <tr>
          <td>
            <h3>Hello, my name is GO-vatar! 👋🏻</br>{{.Day}}, {{.Date}}</br>{{.Time}}</h3>
            <h4>I'm a fiction character created by MperMperPisang</h4>
          </td>
          <td>
            <img src="static/stylesheets/images/go-vatar.png" alt="GO-vatar">
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
