<html>
  <head>
    <link rel="stylesheet" href="/static/stylesheets/css/template.css">
    <title>Ferawati Hartanti Pratiwi</title>
  </head>
  <body>
    <div align='center'>
      <table border=0 width=100% align=right>
        <tr>
          <td width=15%%>
            <img width=85% src="static/stylesheets/images/mpermperpisang.jpg" alt="Ferawati Hartanti Pratiwi">
          </td>
          <td width=85%>
            <h2>Hello, my name is Ferawati Hartanti Pratiwi! 👋🏻</h2>
            <h4>You're seeing my portfolio at {{.Day}}, {{.Date}} {{.Time}}</h4>
          </td>
        </tr>
      </table>
      <table border=1 width=75% align=right>
        <tr>
          <td>
            <h3>Github</h3>
          </td>
        </tr>
        <tr>
          <td>https://github.com/mpermperpisang</td>
        </tr>
        <tr>
          <td>
            <h3>Automation</h3>
          </td>
        </tr>
        <tr>
          <td>
            <p>https://github.com/mpermperpisang/golang-automation</br></p>
            <p>https://github.com/mpermperpisang/robot-framework</br></p>
            <p>https://github.com/mpermperpisang/QA_beginner</br></p>
            <p>https://github.com/mpermperpisang/seleniumwebdriver</p>
          </td>
        <tr>
          <td>
            <h3>Tested Products</h3>
          </td>
        </tr>
        <tr>
          <td>
            <h5>PT Voltras International</h5>
          </td>
        </tr>
        <tr>
          <td>
            <img width=30% src="static/stylesheets/images/voltras.jpg" alt="https://www.travelagent.co.id/">
            <img width=30% src="static/stylesheets/images/jauhdekatcom.png" alt="https://jauhdekat.com/">
          </td>
        </tr>
        <tr>
          <td>
            <h5>PT Alfa Rekacipta Kreasi (Weekend Inc)</h5>
          </td>
        </tr>
        <tr>
          <td>
            <img width=30% src="static/stylesheets/images/kesupermarketcom.png" alt="https://www.kesupermarket.com/format/">
          </td>
        </tr>
        <tr>
          <td>
            <h5>PT Bukalapak.com</h5>
          </td>
        </tr>
        <tr>
          <td>
            <img width=30% src="static/stylesheets/images/tiket_kereta.png" alt="https://www.bukalapak.com/kereta-api">
            <img width=30% src="static/stylesheets/images/bukapengadaan.png" alt="https://www.bukalapak.com/bukapengadaan">
          </td>
        </tr>
        <tr>
          <td>
            <img width=30% src="static/stylesheets/images/bbm_shopping.jpg" alt="https://www.bukalapak.com/promo-detail/harbolnas-bbm-shopping">
            <img width=30% src="static/stylesheets/images/dana.jpg" alt="https://www.bukalapak.com/bantuan/buka-dompet-dana/aktivasi-akun-DANA/tentang-dana">
          </td>
        </tr>
        <tr>
          <td>
            <img width=30% src="static/stylesheets/images/bukabike.jpg" alt="https://www.bukalapak.com/bukabike">
            <img width=30% src="static/stylesheets/images/mitra_bl.jpg" alt="https://mitra.bukalapak.com/">
          </td>
        </tr>
        <tr>
          <td>
            <h3>Medium</h3>
          </td>
        </tr>
        <tr>
          <td>
            <p>https://medium.com/inside-bukalapak/yes-man-vs-no-man-in-automated-testing-world-feda0c1721db</br></p>
            <p>https://medium.com/inside-bukalapak/how-i-play-with-golang-as-a-software-engineer-in-test-8163809f43d3</br></p>
            <p>https://medium.com/inside-bukalapak/recipe-to-boil-web-automation-with-go-language-98b715800d70</br></p>
            <hp3>https://medium.com/@mpermperpisang/go-vatar-early-battle-to-become-the-master-of-all-automation-platform-a5d18e0ff5c1</p>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <h3>Speakers</h3>
          </td>
        </tr>
        <tr>
          <td>
            <img width=30% src="static/stylesheets/images/automation-101.jpeg" alt="Automation 101">
            <img width=30% src="static/stylesheets/images/devcircle-0.jpg" alt="Women of Dev Circle Bandung">
          </td>
        </tr>
        <tr>
          <td>
            <h3>Contact</h3>
          </td>
        </tr>
        <tr>
          <td>
            <img width=15 src="static/stylesheets/images/gmail.png" alt="Email">ferawati.10109266@gmail.com</img>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
